accelerate>=1.7.0
beautifulsoup4>=4.13.4
fuzzywuzzy>=0.18.0
ipython>=8.18.1
matplotlib>=3.9.4
networkx>=3.2.1
openai>=1.76.0
openpyxl>=3.1.0
pandas>=2.2.3
polars>=1.30.0
protobuf>=6.31.1
psutil>=7.0.0
pytest>=8.0.0
python-dotenv>=1.0.0
python-levenshtein>=0.27.1
pyyaml>=6.0.1
requests>=2.32.3
scikit-learn>=1.6.1
seaborn>=0.13.2
selenium>=4.33.0
sentence-transformers>=4.1.0
torch>=2.7.1
tqdm>=4.67.1
transformers>=4.30.0
umap-learn>=0.5.7
PyYAML